---
const {title, url, date, tags, description} = Astro.props;
import TagCell from "./tag-cell.astro";

---

<style>
    a{
        text-decoration: none;
        
    }
    h2{
        font-size: 1.5rem;
        margin: 0;
        margin-left: 5%;
        padding: 0;
        color: rgb(119, 0, 91);
        
    }
    h4{
        font-size: 1rem;
        margin: 0;
        margin-right: 5%;
        padding: 0;
        color: rgb(119, 0, 91);
        
    }
    p{
        margin: 0;
        flex: 3;
        padding: 0;
        text-decoration: none;
        color: rgb(119, 0, 91);
        word-break: break-word;
        max-width: 100%;
    }
    .post {
        margin-bottom 5%;
        background-color: rgb(255, 219, 245);
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgb(255, 180, 236);
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
    .post:hover {
        background-color: #ffe7fb;
        transform: translateY(-3px);
        box-shadow: 5px 5px 10px rgba(255, 180, 236, 0.6);
    }
    .rowone {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        

    }
    .rowtwo {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tags {
        flex: 0 1 auto; /* <- DO NOT let it shrink */
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 0.5rem 0.25rem;
        width:100%;
    }
</style>


<a href = {url}>
    <div class = 'post'>
        <br>
        <div class = 'rowone'>
            <h2>{title}</h2>
            <h4>{date}</h4>
        </div>
        
        <div class = 'rowtwo'>
            <p>{description}</p>
        
            <div class = 'tags'>
                {tags.map((tag_: any) => <TagCell tag = {tag_} />)}

            </div>
        </div>
        
        <br>
    </div>
</a>
